<div>
<br>
<h2>Description</h2><hr />
<h4>Q1</h4>
Explain the code in the main.hbs<br>
Main.hbs is the default layout when rendering a handlebars file. In the newer version of express handlebars, if we want to use the default layout, we need to explicitly set the layout to false.
<br><br>
<h4>Q2</h4>
Explain the input elements in the addEmployee.html<br>
The input element specifies the input field where the user can enter a data. The input element is within the form tag, it can take different types of input.<br><br>
<h4>Q3</h4>
Explain what is returned to the form from checkLastName function and why? <br>
The checkLastName return a boolean value to the form. The checkLastName function checks if the input field is valid or not, and returns the result to the form.
In the form tag, the onsubmit property is used to receive a boolean value, if it receives true value, then the action property is activated, that is, the webpage will jump to the link that is specified in the "action" property. If the onsubmit property receives a false value, the form will not be submitted.
</div>


